@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("assets/images/5651980.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
 
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #0e95eb;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}

.footer {
  width: 100vh;
}

.profile {
  display: none;
}

ul {
  margin: 5px auto;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

a.nav-link:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.2);
}

label:hover {
  cursor: pointer;
}

.icon {
  width: 30px;
  filter: invert(1);
}

.block {
  display: block;
}

h1 {
  margin: 2%;
  text-align: center;
  font-size: 16vw;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.skills {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  padding: 1%;
  margin: 0px auto 5% auto;
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0.9;
}

.skills-sub {
  margin: 3%;
  margin-bottom: 10%;
}

.skill-sub-sub {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-thumbnail {
  width: 5%;
}

.skill-name {
  margin-left: 2%;
}

.skill-thumbnail-api {
  width: 15%;
  position: relative;
  top: 3%;
}

.skill-level {
  text-align: center;
}

h3 {
  width: 80%;
  padding: 1%;
  text-align: left;
  margin: 5px auto 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: rgba(14, 149, 235, 0.7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.footer {
  background-color: black;
  padding-bottom: 1%;
  padding-top: 2%;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-decoration: underline;
}

ul {
  margin: 5px auto;
  padding: 5px auto;
  background-color: black;
}

li {
  display: flex;
  align-items: center;
  padding: 1% 0;
  transition: 0.5s;
  margin: 1% auto;
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
}

li:hover {
  cursor: pointer;
}

.li-left {
  padding-right: 0 10px;
  width: 30px;
  text-align: right;
  margin-top: 3%;
}

.li-right {
  max-width: 260px;
  padding-left: 10px;
  text-align: left;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

.li-right a {
  align-items: flex-start;
}

.services {
  margin-bottom: 10%;
}

.service-list {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.contact-list-sub {
  width: 70%;
  margin: 0 auto;
}

.summary {
  width: 80%;
  font-family: "Poppins", sans-serif;
  margin: 5px auto;
  text-align: justify;
}

.author {
  margin-top: 10%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.apps-sub {
  vertical-align: bottom;
}

.small {
  padding-top: 10%;
}

.app-thumbnail {
  width: 50%;
  margin: 1% auto;
  display: block;
}

.languages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.language-thumbnail {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1%;
}

.bootstrap-thumbnail {
  width: 1.8rem;
  margin: 1%;
}

.api-thumbnail {
  margin: 1%;
  width: 5rem;
  height: 1.5rem;
}

a p {
  margin: 1%;
  text-align: center;
}

.app-link {
  margin-bottom: 1%;
  width: 100%;
}

.crosswise {
  margin: 10% auto 1% auto;
}

@media (min-width: 470px) {
  .skills {
    background-image: url("assets/images/wallpaper.png");
    background-size: cover;
    background-position: center center;
  }

  .skills-sub {
    display: flex;
    justify-content: space-between;
    margin: 3%;
  }

  .skill-sub-sub {
    width: 60%;
    text-align: start;
    justify-content: flex-start;
  }

  .skill-thumbnail {
    width: 5%;
    position: relative;
    top: 8%;
  }

  .skill-thumbnail-api {
    width: 15%;
    position: relative;
    top: 3%;
  }

  .skill-level {
    width: 40%;
    text-align: end;
  }

  .author {
    margin-top: 2%;
  }
}

@media (min-width: 576px) {
  nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0e95eb;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    position: fixed;
  }

  .main {
    width: 80%;
    margin-left: 20%;
  }

  .nav-link {
    margin-top: 25px;
  }

  .profile {
    display: block;
    width: 100%;
  }

  .profile-pic {
    width: 100%;
  }

  h1 {
    margin: 1%;
    margin-top: 0.5%;
    text-align: center;
    font-size: 4vw;
  }

  .footer {
    width: 80%;
    margin-left: 20%;
  }  

  .footer-sub {
    display: flex;
  }

  .services {
    width: 33%;
    margin-bottom: 0;
  }

  .contact {
    width: 66%;
  }

  .icon-contact {
    width: 20px;
  }

  .li-right {
    font-size: 15px;
  }

  .apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .app-link {
    width: 40vw;
    padding: auto;
  }

  .apps-sub {
    width: 30vw;
    min-height: 15vw;
  }

  .apps a:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 900px) {
  .contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
  }

  .contact-list-sub {
    width: 50%;
    margin: 0 auto;
    padding: 0 auto;
  }
}

@media (min-width: 1000px) {
  body {
    background-position-y: 80%;
  }
}

@media (min-width: 1300px) {
  .services {
    margin: 0 auto;
  }
  .contact {
    width: 35em;
    margin: 0 auto;
  }
}

@media (min-width: 2000px) {
  .contact {
    width: 100em;
  }

  .contact-list {
    justify-content: center;
  }

  .contact-list-sub {
    width: 25%;
  }

  .li-right {
    width: fit-content;
  }
}

@media (min-width: 576px) and (min-height: 1500px) {
  .apps {
    padding-bottom: 50px;
  }
}

@media (min-width: 1526px) and (min-height: 1500px) {
  .apps {
    margin-bottom: 200px;
  }
}
