@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    /* background-image: url('./assets/images/cat_universe.jpg'); */
    background-color: rgb(54,57,63);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #0e95eb;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
  
}

.profile {
    display: none;

}


ul {
    margin: 5px auto;
}
a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    font-family: 'Poppins', sans-serif;
}

a.nav-link:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.2);
}

label:hover {
    cursor: pointer;
}

.icon {
    width: 30px;
    filter: invert(1);
}

.block {
    display: block;
}

h1 {
    margin: 2%;
    text-align: center;
    font-size: 16vw;
    font-family: 'Poppins', sans-serif;
}

.introduction {
    font-family: 'Mukta Mahee', sans-serif;
    margin: 2%;
    text-align: center;
}

ul {
    width: 80%;
    margin: 5px auto;
    padding: 5px auto;
}

li {
    display: flex;
    align-items: center;
    padding:1% 0;
    transition: .5s;
    margin: 1% auto;
    max-width: 300px;
    margin: 5px auto;
    /* font-size: 5vw; */
    font-family: 'Mukta Mahee', sans-serif;
}

li:hover {
    cursor: pointer;
}

.li-left {
    padding-right: 0 10px;
    width: 30px; 
    text-align:right;
}

.li-right {
    width: 260px;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;

}

.li-right a {
    align-items: flex-start;

}

.summary {
    width: 80%;
    font-family: 'Mukta Mahee', sans-serif;
    margin: 5px auto;
    text-align: justify;
    
}

.apps-sub {
    vertical-align: middle;
}

.app-thumbnail {
    width: 50%;
    margin: 1% auto;
    display: block;
    
}

a p {
    margin: 1%;
}

.app-link {
    margin-bottom: 5%;
}

.crosswise {
    margin: 10% auto;
}



@media (min-width: 576px) {
    nav {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #0e95eb;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        height: 100vh;
        position: fixed;
    }

    .main {
        width: 80%;
        margin-left: 20%;
    }

    .nav-link {
        margin-top: 50px;
    }




    .profile {
        display: block;
        width: 100%;
    }
    

    .profile-pic {
        width: 100%;
    }

    h1 {
        margin: 2%;
        text-align: center;
        font-size: 8vw;
        font-family: 'Poppins', sans-serif;
    }

    .apps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .apps-sub {
        width: 30vw;
        min-height: 15vw;
    }

    .apps a {
        width: 40%;
        min-height: 100%;

    }

    .apps a:hover {
        transform: scale(1.05);
    }
    
}
