* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

#main {
    height: 200vh;
    padding-top: 150px;
}
/* 
body {
    overflow: visible;
} */

header {
    width: 100vw;
    height: 150px
    
}

#logo {
    width: 15vw;
    height: 100%;
    min-width: 150px;
    min-height: 132.66px;
}

footer hr {
    border: 1px solid white;
}

/* h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
} */

@media only screen and (max-width: 767px) {  
    /* #logo {
        width: 30vw;
    } */
    .col-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-3 {
        width: calc(100% * 3 / 12);
    }
    
    .col-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-8  {
        width: calc(100% * 8 / 12);
    }
    
    .col-9  {
        width: calc(100% * 9 / 12);
    }
    
    .col-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-12 {
        width: calc(100% * 12 / 12);
    }

}


@media only screen and (min-width: 768px)  and (max-width: 991px)  {
    /* #logo {
        width: 15vw
    } */
    .col-md-1 {
        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }

    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }

    .col-md-7 {
        width: calc(100% * 7 / 12);
    }

    .col-md-8  {
        width: calc(100% * 8 / 12);
    }

    .col-md-9  {
        width: calc(100% * 9 / 12);
    }

    .col-md-10 {
        width: calc(100% * 10 / 12);
    }

    .col-md-11 {
        width: calc(100% * 11 / 12);
    }

    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media only screen and (min-width: 992px) {
    /* #logo {
        width: 5vw
    } */
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }

    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }

    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }

    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }

    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }

    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }

    .col-lg-8  {
        width: calc(100% * 8 / 12);
    }

    .col-lg-9  {
        width: calc(100% * 9 / 12);
    }

    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }

    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }

    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}