* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main { 
    padding-top: 168px;
}


header {
    width: 100vw;
}

.bg-yellow {
    background-color: #ffc51b;

}

.text-yellow {
    color: #ffc51b;
}


#logo {
    width: 61px;
    min-width: 61px;
    min-height: 67px;  
} 

.custom img {
    width: 100%;
}

.custom p {
    font-size: larger ;
}

footer hr {
    border: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
}

a:hover,
a:active { 
    text-decoration: none; 
}

#contact img {
    height: 16px;
}

#testimonials img {
    width: 48px;
    height: 48px;
}

.testi {
    border: 1px solid black;
}

.contact-background {
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(255, 197, 27), rgb(255,255,255), rgb(255,255,255), rgb(255, 197, 27));
}


@media only screen and (min-width: 311px) and (max-width: 551px) {
    html {
        scroll-padding-top: 132.44px;
    }
    main { 
        padding-top: 132.44px;
    }
}

@media only screen and (min-width: 552px) and (max-width: 575px) {
    html {
        scroll-padding-top: 109.44px;
    }
    main { 
        padding-top: 109.44px;
    }
}

@media only screen and (min-width: 576px)  and (max-width: 582px)  {
    html {
        scroll-padding-top: 164px;
    }
    main { 
        padding-top: 164px;
    } 
}

@media only screen and (min-width: 583px)  and (max-width: 731px)  {
    html {
        scroll-padding-top: 140px;
    }
    main { 
        padding-top: 140px;
    }
}

@media only screen and (min-width: 732px)  {
    html {
        scroll-padding-top: 105.44px;
    }
    main { 
        padding-top: 105.44px;
    }
}

@media only screen and (min-width: 768px) {
    .customBorder {
        border-left: 2px solid white;
    }   
}